.widget {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.widget-header {
    margin-bottom: 1.5rem;
}

.widget-header h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

.tab-btn {
    display: inline-flex;
    align-items: center;
    background: var(--bg-tab-btn);
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    transition: all 0.2s;
    color: var(--text-secondary);
}

.tab-btn.active {
    background: var(--primary-light);
    color: white;
}

.badge {
    background: transparent;
    padding: 0;
    font-size: 0.75rem;
    color: inherit;
}

.badge-active {
    color: white;
    opacity: 1;
}

.avatar-sm {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    border-radius: 50%;
    background: var(--primary);
    color: white;
    font-size: 0.7rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.status-dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    min-width: 6px;
    min-height: 6px;
    border-radius: 50%;
    margin-right: 8px;
    flex-shrink: 0;
}


table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

thead tr {
    background-color: var(--white-03);
}

thead th {
    text-transform: uppercase;
    font-size: 0.7rem;
    color: var(--text-secondary);
    font-weight: 600;
    padding: 1rem 0.5rem;
    text-align: left;
    border-bottom: none;
}

thead th:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding-left: 1.25rem;
}

thead th:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-right: 1.25rem;
}

tbody td {
    padding: 1.25rem 0.5rem;
    vertical-align: middle;
    font-size: 0.875rem;
    color: var(--text-primary-soft);
    border-bottom: 1px solid var(--border-color);
}

tbody td:first-child {
    padding-left: 1.25rem;
}

tbody td:last-child {
    padding-right: 1.25rem;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr:hover {
    background-color: var(--white-02);
}